.App {
  text-align: center;
}
body {
  background-color: #1f4c7d;
  color: rgb(186, 243, 218);
}

.Card {
  background-color: black;
  border: 2px rgb(37, 37, 37) solid;
  border-radius: 12px;
  width: 260px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imagePost {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.like-button {
  bottom: 10px;
  left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.numberOfLikes {
  bottom: 10px;
  left: 10px;
  background-color: #d8104c;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 5px 10px;
}
